* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #03178C;
    color: white;

    h1 {
        font-size: 2rem;
    }

    li {
        font-size: 20px;
    }

    nav {
        #checkbox_toggle {
            opacity: 0.0;
        }
    }
}

header nav ul {
    list-style: none;
    display: flex;

    li {
        padding: 0px 20px;
    }
}

aside {
    width: 20%;
    padding: 40px;
    background-color: #0424D9;
    color: white;

    ul {
        list-style: none;
    }

    h3 {
        font-size: 1em;
    }
}

main {
    width: 80%;
    padding: 40px;

    section article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 40px;
        text-align: justify;
    }

    a {
        color: rgb(3, 33, 204);

        &:hover {
            color: rgb(248, 162, 3);
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    background-color: #031CA6;

    i {
        padding: 20px 40px;
        color: white;

        &:hover {
            color: black;
        }
    }

    .fa {
        font-size: 50px;
    }
}

@media screen and (max-width:500px) {
    header{
        height: 100%;
    h1 {
      float: none;
      display: inline-block;
      text-align: center;  
    }

    nav {
        float: none;
    }

    //reduje la distancia entre los textos cuando estan en vertical
    nav li {
        padding-left: 0;
        line-height: 20px;
    }

    //pongo la palabra menu cuando pantalla es pequeña como 500px
    label::after {
        content: "Menu";
        color: white;
    }

    .menu {
        float: none;
        top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    }

    // comienzo de menu hamburguesa
    .h-menu {
        input[type=checkbox] {
            display: none;
        }

        ul {
            display: none;
        }

        input[type=checkbox]:checked~ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

    }

    aside {
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
        font-size: 1rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .fa {
            font-size: 25px;
        }
    }
}